<ons-page>
            <ons-toolbar fixed-style>
                <div class="center">ホーム</div>
            </ons-toolbar>
      
            <section><br><br><center> &nbsp;
                <ons-button modifier="quiet" ng-click="navi.pushPage('faith.html')">
                    <input class="menu" type="image" src="lib/images/input.png" alt="input">
                </ons-button> &nbsp;
            <ons-button modifier="quiet" ng-click="navi.pushPage('graph.html')">
                 <input class="menu" id="push-button" type="image" src="lib/images/graph.png" alt="graph">
            </ons-button>
        </center></section>
        </ons-page>
