        <ons-page>
            <ons-toolbar>
                <section>
                <ons-button class="nextbutton" ng-click="navi.pushPage('coution.html')">
                    つぎへ
                </ons-button>
                
                <ons-button class="backbutton" ng-click="navi.resetToPage('medicine.html')">
                    もどる
                </ons-button>
            </section>
                <div class="center">ピークフロー</div>
                </div>
            </ons-toolbar>

            <section style="padding: 70px">
                <center>
                    <p>ピークフロー値を入力してね！</p>
                    <input type="tel">
                    <p>(自動入力実装予定)</p>
                </center>
            </section>
        </ons-page>
  